name: ci_tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  python_check:
    name: unittests_check-${{ matrix.combinations.runs_on }}
    runs-on: ${{ matrix.combinations.runs_on }}
    strategy:
      matrix:
        combinations: [
          { runs_on: "ubuntu-latest",  rust: "x86_64-unknown-linux-gnu" },
        ]
        python: [
            {py: '3.7', interpreter: "python3.7"},
            {py: '3.8', interpreter: "python3.8"},
            {py: '3.9', interpreter: "python3.9"},
            {py: '3.10', interpreter: "python3.10"}
        ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3.1.1
        with:
          python-version: ${{ matrix.python.py }}
      - run: |
          python -m pip install -r qoqo/requirements.txt
          python -m pip install -r tests/python_tests/requirements.txt
          python -m pytest tests/python_tests
